/* body {
    margin: 0;
} */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    width: 100%;
}
header {
    background-color: rgb(49, 49, 223);
    height: 20em;
    width: 100%;
    
}

h1 {
    font-size: 3.5em;
    font-family: 'Montserrat', sans-serif;
    /* padding: 1em 3em; */
    color: #fff;
    text-align: center;
    padding: 2em 2em;
}

.intro {
    padding: 5em;
    margin: 0 auto;
    background-color: hsl(158, 36%, 37%);
    color: #fff;
}
.intro h2 {
    font-size: 2.8em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}
.intro-desc > p {
    padding: 2em 7em;
    text-align: center;
    margin: 5px 0;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
}
.intro h3 {
    font-size: 2.8em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.skills {
    background-color: hsl(30, 38%, 92%);
}

.skills h1 { 
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: center;
}
.skills p {
    text-align: center;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

.columns {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}
.column {
    padding: 10px;
}
.column h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
}

.skills h1 {
    padding: 1em 1em;
}

.skills .developer {
    padding: 1.5em;
}
.skills .developer h2{
    font-size: 2em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.skills .developer a {
    font-size: 25px;
    color: black;
    padding: 1em;
    font-family: 'Poppins', sans-serif;
}

/******* Small Screens ****/
@media only screen and (max-width:600px) {
    html, body {
        width: 100%;
    }
    header {
        height: 30em;
    }
    h1 {
        font-size: 3.6em;
        text-align: center;
        padding: 1.7em 1.5em;
    }
    .intro {
        padding: 5em 2em;
    }
    .intro h2 {
        font-size: 2em;
    }
    .intro-desc > p {
        font-size: 20px;
        padding: 1.5em 1em;
        text-align: center;
    }
    .intro h3 {
        font-size: 1.7em;
    }
    
    .skills h1 {
        font-size: 2.5em;
        padding-bottom: 1em;
    }

    .skills p {
        font-size: 25px;
        padding: 0 70px;
    }

    .columns {
        justify-content: center;
        flex-wrap: wrap;
    }
    .column h1 {
        font-size: 2em;
        padding: .7em 0;
    }
}

@media only screen and (max-width:395px) {
    html, body {
        width: 100%;
    }
    header {
        padding-right: 0 10em;
        
    }
    h1 {
        font-size: 3.5em;
        padding: 2em 1em;
        text-align: center;
    }

    .intro {
        padding: 3em 3em;
    }
    .intro h2 {
        font-size: 1.5em;
        text-align: center;
        padding-left: -3em;
    }

    .intro-desc > p {
        padding: 1.5em 2em;
        font-size: 17px;
    }
    .intro h3 {
        font-size: 1.5em;
    }

    .skills h1 {
        font-size: 2em;
        padding-bottom: 0;
    }
   
    .skills p {
        font-size: 17px;
        padding: .5em 2em;
    }
}